/*The CSS is very much held together by duct-tape, but the site works! */


body{
    height: 100%;
    background-color:#FBF8F3;
}

div {
    width: 100%;
    font-family: Helvetica, sans-serif;
    padding: 5px;
    margin:auto;
}

nav a{
    color: #FBF8F3;
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    font-size: 2.5em;
}

.desktop-nav {
    display: none;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
}

ul {
    list-style-type: none;
  }

#hamburger {
    margin-left: 10px;
    font-size: 2em;
} 

h1 {
    color: black;
}

 /**********************************************/

.left {
    display: none;
}


#header{
    background-image: url(https://i.imgur.com/vDQPw2j.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.open .left{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: block;
    background-color: #3990E0;
    padding: 30px;
    color: #FBF8F3;
    font-size: 35px;
  }

  .close {
   color: #FBF8F3;
   position: absolute;
    top: 30px;
    right: 30px;
    font-size: 35px;
  }


#title {
    font-size: 50px;
    text-align: center;
    margin-top: 180px;
    z-index: 999;
}

#subhead {
    font-family: serif;
    font-style: italic;
    color: #3990E0;
    text-align: center;
    margin-bottom: 150px;
}

#hamburger {
    color: #3990E0;
}

/*********************************************/

#about {
    background-color: #FBF8F3;
    color: #3990E0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    width: 90%;
    margin: auto;
}

#headshot {
    width: 200px;
    margin: auto;
    border-radius: 10%;
    border: 15px;

}

#location {
    margin-top: 20px;
    width: 90%;
}

/********************************************/

#portfolio {
    background-color: #FBF8F3;
    display: grid;
    padding: 15px;
    border-bottom: 1px solid #3990E0 
}


.portfolio-img {
    width: 300px;
    height: 250px;
    margin: auto;
    display: block;
}

.portfoliotitle {
    width: 90%;
    margin: auto;
}

.project-item div {
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.project-item a {
    color: #3990E0;
    font-size: 2em;
    font-style: normal;
    font-family: sans-serif;
}

h3  {
    font-family: serif;
    font-style: italic;
    color: #3990E0;
}


/*********************************************/

#contact {
    background-color: #FBF8F3;
    color: #3990E0;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.socials {
    color: #3990E0;
    display: flex;
    font-size: 3em;
    justify-content: space-around;
    margin-bottom: 50px;;
}

#contact-me {
    color: #3990E0;
}

/*************TABLET*****************************/
@media only screen and (min-width: 700px) {

#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 20px;
}

#bio {
    padding-top: 1em;
    grid-column: 1/3;
    grid-row: 1/2;
}

#headshot {
    grid-column: 2/3;
    grid-row: 2/3;
}

#locaton {
    margin-top: 0px;
    grid-column:1/2;
    grid-row: 2/3;
}



/*************DESKTOP******************************/

@media only screen and (min-width: 1024px) {
 #hamburger {
    display: none;
 }

.desktop-nav {
    display: flex;
}

.desktop-nav a {
    color: #3990E0;
}

.desktop-nav li {
    flex-direction: row;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2em;
}

/*********************************************/

#about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding-top: 4em;
    padding-bottom: 4em;
    padding-left: 1em;
    padding-right: 1em;

}

#bio {
    grid-column:1/2;
    grid-row:1/2;
}

#headshot {
    grid-column: 2/3;
    grid-row: 1/3;
}

#location {
    grid-column: 1/2;
    grid-row: 2/3;
}



/*********************************************/

#portfolio {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 4em;
    padding-bottom: 4em;
}

.portfolio-img {
    width: 300px;
    height: 250px;
}